<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2020 Copyright:
        <a class="text-body" href="https://mdbootstrap.com/">Grupo 2 Analisis y Diseño UNAH 2024 II PAC</a>
    </div>
    <!-- Copyright -->
</footer>